<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    <h2>Hello</h2>
    <p style="color: blueviolet;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos porro tenetur alias temporibus adipisci autem esse facilis nulla eum mollitia quidem quas, sequi distinctio aliquam similique ipsam fugit praesentium quod.</p>
    <a href="{% url 'home' %}">Go home</a>
</body>
</html>